{{ $filePath := printf "/md%s.md" .OriginalReq.URL.Path }}
{{ if not ( fileExists $filePath ) }}{{ $filePath = "/md/error.md" }}{{ end }}
{{ $file := ( include $filePath | splitFrontMatter ) }}
{{ $title := default $filePath $file.Meta.title }}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ $title }} | Aroace Containment Project</title>
<link rel="stylesheet" href="/style.css" />
<meta name="disabled-adaptations" content="watch">
<meta name="color-scheme" content="light dark">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#2E2920" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#FFFFDF" media="(prefers-color-scheme: light)">
<meta name="description" content="The Aroace Containment Project - Containing the Weird">
<link rel="icon" type="image/png" href="/acp.png" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header aria-labelledby="acp">
	<p id="acp">acp - AROACE CONTAIN&shy;MENT PROJECT</h1>
	<p>For containment and studying of anomalous objects</p>
	<nav>
		<a href="/">Home</a>&nbsp;&nbsp;<a href="https://codeberg.org/foreverxml/aroacecontainmentproject">Contribute</a>&nbsp;&nbsp;<a href="/list">List</a>
	</nav>
	<hr>
</header>
<main>
	<h1 id="maintitle">{{ $title }}</h1>
	{{ markdown $file.Body }}
</main>
<footer>
	<hr>
	<p>Terminal access to the acp may be revoked at any time and altered in any way. Please report any seen anomalies to the acp whenever possible.</p>
</footer>