/* This stylesheet
 * is made completely for my website
 * and every single block
 * is described in detail. */

/* Set light colors and default width */
:root {
	--bg: #FFFFDF;
	--fg: #2E2920;
	--link: #5C5240;
	--width: 35rem;
}

/* and dark colors */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg: #2E2920;
		--fg: #FFFFDF;
		--link: #FFF5BF;
	}
}

/* for thin screens/paper: make things 95% of the viewport wide */
@media (max-width: 35rem) {
	:root {
		--width: 95vw;
	}
}

/* don't want to print this */
@media screen {
	/* Constrain max width
	 * for easy readability */
	body {
		max-width: var(--width);
		width: var(--width);
		margin: 0 auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		min-height: calc(100vh - 2rem);
	}

	/* Constain width and sepiaify */
	img {
		max-width: var(--width);
		width: var(--width);
		filter: sepia(1);
	}

	/* Add a retro terminal effect */
	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		pointer-events: none !important;
		background: repeating-linear-gradient(
		0deg,
		rgba(0,0,0,0.25),
		rgba(0,0,0,0.25) 1px,
		transparent 1px,
		transparent 2px
		);
	}

	/* better selection defaults */
	::selection {
		background-color: var(--fg);
		color: var(--bg);
	}
}

/* full hyphenation on tiny screens */
@media (max-width: 15em) {
	body {
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}

/* we should print these */
@media print {
	/* do not display noprint items */
	.noprint {
		display: none !important;
	}

	/* grayscale it */
	img {
		filter: grayscale(1);
	}

	/* serif is easy to read on paper */
	body {
		font-family: "Lora", "Times New Roman", serif !important;
	}
}

/* Make tabbed focus more visible
 * to all users. */
a:focus,
[tabindex]:focus {
	outline: 1px solid;
}

@supports selector(:focus-visible) {
	a:focus:not(:focus-visible), [tabindex]:focus:not(:focus-visible) {
		outline: none;
	}
}

:focus-visible {
	outline: 1px solid;
}

/* Set body text colors, fonts, and word wrapping */
body {
	color: var(--fg);
	background-color: var(--bg);
	font-family: "Iosevka Curly", "Iosevka", "Roboto Mono", monospace, sans-serif, system-ui;
	line-height: 1.25;
	word-wrap: break-word;
}

/* Respect line breaks in paragraphs */
p {
	white-space: pre-line;
}

/* standard sizing */
* { box-sizing: border-box; }

/* blockquote styling */
blockquote {
	font-style: oblique;
	border-left: 0.15rem solid var(--fg);
	padding: 0.75rem;
	margin: 0.5rem;
}
blockquote > p {
	margin: 0;
}
/* Render horizontal rules well */
hr {
	/* opacity: 0.5; */
	border: 1px solid var(--fg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.numeral {
	font-size: 7em;
	margin: 0;
}
input[type=number].numeral {
	border-radius: 3rem;
	padding: 1rem;
	border: 1px solid var(--fg);
	margin-bottom: 5rem;
}
#ecosiatree {
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
#ecosiatree > p {
	text-align: center;
}
/* Configure how the top image is styled:
 * circular and less opaque on hover */
#top > a > img {
	height: 5rem;
	width: 5rem;
	margin: 0;
	opacity: 1;
	transition: opacity 0.25s ease;
	border: 1px solid var(--fg);
}
#top > a > img:hover {
	opacity: 0.5;
}

/* Main menu styling */
#top {
	display: flex;
	flex-direction: row;
	height: auto;
	padding: 0.5rem;
}

/* wrap header on smaller screens/paper */
@media  (max-width: 250px) {
	#top {
		flex-direction: column;
		height: auto;
	}
	#top > a > img {
		margin-left: 0.5rem;
	}
	#headtop {
		margin-top: 1rem;
		margin-left: 0;
	}
}
@media  (max-width: 175px) {
	#top {
		width: 95vw;
		height: auto;
		margin: 0;
		margin-bottom: 0.25rem;
	}
	fieldset {
		display: none;
	}
}

/* Configure the text residing
 * next to the h1 */
#headtop {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
}
#headtop > p#foreverheader {
	/* Remove block margins */
	margin: 0;
	/* Force full hyphenation */
	-webkit-hyphens: auto;
	hyphens: auto;
	font-size: 2rem;
	white-space: initial;
	font-weight: bold;
	margin-bottom: 0.25rem;
}

/* margin-top for header nav */
header > nav > p { margin-top: 1.5rem; }

/* Image rounding and centering */
img {
	margin: 0 auto;
	display: block;
}

/* Color links */
a {
	color: var(--link);
}

/* Style preformatted text */
pre {
    padding: 1rem !important;
    box-sizing: border-box;
    white-space: pre-wrap;
    border: 1px solid var(--fg);
    word-break: break-all;
    border-radius: 1rem;
    filter: sepia(1);
}

/* Make summaries visible */
summary {
	border: 1px solid var(--fg);
	padding: 1rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	cursor: pointer;
	border-radius: 1rem;
	list-style: none;
}
details[open] > summary {
	background-color: var(--fg);
	color: var(--bg);
}
summary::-webkit-details-marker {
	display: none;
}
/* johnvertisement styling */
.johnvertising {
	margin: 0 auto;
	filter: sepia(1);
	display: block;
	width: var(--width);
	height: calc(calc(var(--width) / 728) * 90);
	border: none;
}

/* table styling */
td, th {
    border: 1px solid var(--fg);
    padding: 0.5rem;
    border-spacing: 0;
    border-collapse: collapse;
}
table {
	padding: 0;
	width: var(--width);
}
th {
    color: var(--bg);
    background-color: var(--fg);
}

/* figure styling */
figure {
	width: var(--width);
	border: 1px solid var(--fg);
	margin: 0;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	color: var(--bg);
	background-color: var(--fg);
}
figure > blockquote {
	border-left: 0.2rem solid var(--bg);
	margin-left: 1rem;
}
figure > img {
	width: calc(var(--width) - 2px);
	border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
figcaption {
	text-align: center;
	padding: 0.5rem;
	background-color: var(--bg);
	color: var(--fg);
	border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
}

/* make ighlighted code from Hugo look sharp */
.highlight > pre {
	background-color: #2E2920;
	color: #FFFFDF;
	border: 1px solid #FFFFDF;
}

/* form styling */
fieldset, .legend {
	border: 1px solid var(--fg);
	padding: 5px;
}
.legend {
	color: var(--bg);
	background-color: var(--fg);
	border-radius: 1rem 1rem 0 0;
	width: var(--width);
	margin-bottom: 0;
	box-sizing: border-box;
	padding: 0.75rem;
}
fieldset {
	border-radius: 0 0 1rem 1rem;
}
#wm {
	border-radius: 0.5rem 0 0 0.5rem;
}
#sendwm {
	border-radius: 0 0.5rem 0.5rem 0;
	color: var(--bg);
	background-color: var(--fg);
}
input {
	background-color: var(--bg);
	color: var(--fg);
	border: 1px solid var(--fg);
	font-family: monospace;
	padding: 10px;
	font-size: 1rem;
	appearance: unset;
	box-sizing: border-box;
	margin: 0;
}
fieldset {
	width: var(--width);
	margin-left: 0;
	margin-right: 0;
	padding: 10px;
}
label {
	margin: 0;
	margin-bottom: 10px;
	display: block;
}
input#wm {
	width: calc(100% - 4rem);
	border-right: none;
}
form > div {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-collapse: collapse;
}
form > div > div, form > div > div > input {
	width: 4rem;
}

/* TODO:
 * move to semantic elements to make more friendly
 */
